@charset "utf-8";

/*=========================
common
==========================*/
.row:not(:first-child) {
  margin-top: 20px;
}

.label-text {
  font-size: 12px;
  color: #545658;
  display: block;
}

.alert {
  color: #dd4b39;
}

/*=========================
common input
(init = 初期化)
==========================*/
.input-init {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
  resize: none;
}

.input-area {
  box-sizing: border-box;
  height: 36px;
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  color: #545658;
  font-size: 13px;
  line-height: 2;
  background-color: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
}

.input-area:focus {
  border-color: rgba(59, 133, 133, .4);
  box-shadow: 0 0 0 2px rgba(1, 191, 189, .1);
  background-color: #fff;
}

/* 独自スタイル適用 */
.gender-input, .course input {
  display: none;
}

/*=========================
name(text)
==========================*/
.name-box {
  display: flex;
}

.name {
  margin-left: 16px;
}

.name:first-child {
  margin-left: 0;
}

/*=========================
gender(radio)
==========================*/
.gender-contents {
  display: flex;
  font-size: 16px;
  margin-top: 5px;
  color: #545658;
}

.gender-content {
  margin-left: 15px;
  cursor: pointer;
}

.gender-content:first-child {
  margin-left: 0;
}

/* radioボタン実装 */
.gender-part {
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 20px;
}

.gender-part::before,
.gender-part::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.gender-part::before {
  left: 0;
  width: 14px;
  height: 14px;
  background-color: #fbfbfb;
  border: 1px solid #d9d9d9;
}

.gender-input:checked +
.gender-part::after {
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #01bfbd;
}

/*=========================
origin(select)
==========================*/
.select-area {
  position: relative;
  margin-top: 8px;
}

/* arrow */
.select-area::after {
  content: '';
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 45%;
  transform: rotate(45deg);
  height: 5px;
  width: 5px;
  border-right: 2px solid #d9d9d9;
  border-bottom: 2px solid #d9d9d9;
}

.select-area > .input-area {
  margin-top: 0;
}

/*=========================
course(checkbox)
==========================*/
.course-option {
  margin-top: 10px;
  color: #545658;
  font-size: 16px;
}

.course-option:nth-of-type(1) {
  margin-top: 5px;
}

.course-option-text {
  position: relative;
  padding-left: 25px;
}

.course-option-text::before,
.course-option-text::after {
  content: '';
  position: absolute;
  top: 50%;
}

.course-option-text::before {
  left: 0;
  height: 15px;
  width: 15px;
  margin-top: -8px;
  border: 1px solid #d9d9d9;
}

.course-option input:checked + .course-option-text::after {
  left: 6px;;
  transform: rotate(45deg);
  height: 16px;
  width: 8px;
  margin-top: -12px;
  border-right: 3px solid #01bfbd;
  border-bottom: 3px solid #01bfbd;
}

/*=========================
remarks(textarea)
==========================*/
.remarks .input-area {
  height: 100px;
}

/*=========================
submit
==========================*/
.submit-btn {
  color: #fff;
  border: 1px solid #01bfbd;
  background-color: #01bfbd;
}

/*--- common style ---*/
.is-halfWidth {
  width: 50%;
}

.is-fullWidth {
  width: 100%;
}

.is-defaultText {
  color: #949697;
  font-size: 12px;
}

/*--- リンク ---*/
.link-color {
  color: #01a6a4;
}

.link-color:hover {
  color: #01bfbd;
}

/*--- ボタンパーツ ---*/
.button-init {
  text-decoration: none;
}

.button {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  transition: .3s;
  padding: 13px;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
}
/*--- common style end ---*/

.wrapper {
  padding: 32px 0;
  width: 100%;
  background-color: #f2f6f7;
}

.inner {
  margin: 0 auto;
  width: 640px;
}

.main-content {
  box-sizing: border-box;
  padding: 48px 64px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, .18);
}

.form-title {
  text-align: center;
  color: #545658;
  font-size: 24px;
}

/*--- SNS part ---*/
.columns {
  display: flex;
  margin-top: 24px;
}

.column:last-child {
  margin-left: 8px;
}

.is-facebook {
  color: #fff;
  background-color: #3b5999;
  border-color: #3b5999;
}

.is-facebook:hover {
  background-color: #344e87;
  border-color: transparent;
}

.is-google {
  color: #dd4b39;
  background-color: #fff;
}

.is-google:hover {
  background-color: #f7f7f7;
}

.supplement-text {
  text-align: center;
  margin-top: 8px;
}

.devider {
  position: relative;
  text-align: center;
  margin-top: 20px;
}

.devider p {
  display: inline-block;
  position: relative;
  padding: 0 10px;
  background-color: #fff;
}

.devider::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  width: 100%;
  background-color: #ececec;
}

/*--- form part ---*/
.form-content {
  margin-top: 20px;
}

/*--- 利用規約 ---*/
.agreement {
  font-size: 12px;
  line-height: 16px;
  margin-top: 20px;
}

/*--- foot part---*/
.foot-part {
  text-align: center;
  margin-top: 32px;
}

.foot-part p, .resend-mail {
  line-height: 16px;
  font-size: 12px;
}

.resend-mail {
  margin-top: 8px;
}

.foot-part a:hover {
  box-sizing: border-box;
  border-bottom: 1px solid #ececec;
  border-bottom-color: #01bfbd;
}

.resend-mail {
  display: inline-block;
}
